<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.communicationhub">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".interaction.HelpActivity"
            android:exported="true" />
        <activity
            android:name=".interaction.GroupVideoCallingActivity"
            android:exported="true" />
        <activity
            android:name=".books.BookDetailsReadingActivity"
            android:exported="true" />
        <activity
            android:name=".books.BookDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".books.BookReadingActivity"
            android:exported="true" />
        <activity
            android:name=".news.NewsDetailsReadingActivity"
            android:exported="true" />
        <activity
            android:name=".news.NewsDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".news.NewsReadingActivity"
            android:exported="true" />
        <activity
            android:name=".todolist.TaskActivity"
            android:exported="true" />
        <activity
            android:name=".todolist.ToDoActivity"
            android:exported="true" />
        <activity
            android:name=".interaction.OthersProfileActivity"
            android:exported="true" />
        <activity
            android:name=".interaction.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".interaction.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".auth.OtpActivity"
            android:exported="true" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>